* {
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

button {
    font-size: 2rem;
    background-color: white;
    border: 3px black solid;
    border-radius: 10px;
    cursor: pointer;
}