* {
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

button {
    font-size: 2rem;
    background-color: white;
    border: 3px black solid;
    border-radius: 10px;
    cursor: pointer;
}

.options {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    color: black;
}

a {
    cursor: pointer;
    margin-left: 5px;
}

h2 {
    display: none;
}